
body{
    font-family: Poppins;
    font-style: normal;
}

.e-learning-button{
    color: white;
    border: none;
    border-radius: 33px;
    padding: 12px 28px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background: #21B573;
}
.navbar-item-layout{
    display: flex;
    flex-direction: row;
    padding: 5px;
    color:black;
}
.top-container-bg{
    background: #F0FFF0;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.bottom-container-bg{
    background: #282531;
    color: white;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.white-container-bg{
    background:whitesmoke       ;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.navbar-layout{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px; 
    padding-bottom: 30px ;
}
.div-layout{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px; 
    padding-bottom: 50px ;
}
.orange-text{
    color:  #FD511A;
}
.heading-text{
    color:#21B573;
    font-weight: bold;
    font-size: 48px;
}
.layout-padding {
    padding: 20px; 
}
.card-padding {
    padding: 20px 20px 20px 0px; 
}
footer{
    background: #282531;
    color: white;
    text-align: center;
}
.icon-img{
    width: 75px;
    height: 80px;
    background: #F8FFFB;
    border-radius: 10px;
}
.course-layout{
background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.btn-link{
    color: #21B573;
}